/* :host ::ng-deep .inputBackground {
    input {
        background-color: green;
    }
} */


.tp {
    width: 70%;
    height: 500px;
    overflow-y: auto;
    overflow-x: auto;
}

.dt {
    width: 1000px;
    height: 100%;
}
