<div class="tp"> 
    <div class="dt">
        <app-table #tbl></app-table>
    </div>
</div>



<button (click)="addRow()">Добавить строку</button>
<button (click)="removeRow()">Удалить строку</button>

<button (click)="addColumn()">Добавить столбец</button>
<button (click)="removeColumn()">Удалить столбец</button>

<button (click)="setColumnCount()">4 Столбца</button>
<button (click)="setRowCount()">4 строки</button>

<button (click)="setHeader()">Шапка</button>

<button (click)="getCurrentCellPos()">Текущий индекс</button>
<button (click)="setLeft()">Выровнять слева</button>
<button (click)="clearStyle()">Очистить стиль</button>


