<div id="scroll">
    <table class="c-table" [ngStyle]="_style.table">
        <thead class="c-thead" [ngStyle]="_style.thead">
            <tr>
                <th>
                    <div class="c-theadfirstcell" [ngStyle]="_style.theadfirstcell">№</div>
                </th>
                <th 
                    [attr.id]="'tbh-' + headInd" 
                    #tbh
                    *ngFor="let colHead of header; let headInd = index"
                >
                    <div class="c-theadcell" [ngStyle]="_style.theadcell" >{{colHead}}</div>
                </th>
            </tr>
        </thead>
        <tbody class="c-tbody" [ngStyle]="_style.tbody">
            <tr class="c-tbodyrow" [ngStyle]="_style.tbodyrow" *ngFor="let row of rows; let idxRow = index" >
                <td class="c-tbodyfirstcell" [ngStyle]="_style.tbodyfirstcell">{{idxRow+1}}</td>
                <td 
                    class="c-tbodycell" 
                    [ngStyle]="_style.tbodycell"
                    [attr.id]="'tbc-' + idxCol" 
                    #tbc
                    *ngFor="let column of row; let idxCol = index">
                    <ng-template [appTableCellRef]="column.component" [row]="idxRow" [column]="idxCol"></ng-template>
                </td>
            </tr>
        </tbody>
    </table>
</div>