<!-- Tab links -->
<div class="tab">
    <button  
        *ngFor="let tab of tabs; let idxTab = index" 
        class="tablinks" 
        (click)="setCurrentTab(idxTab)"
        [ngClass]="{active: currentTab===idxTab}"
    >
        {{tab.title}}
    </button>
</div>
  
<!-- Tab content -->

<div 
    *ngFor="let tab of tabs; let idxTab = index"  
    class="tabcontent"
    [ngClass]="{visible: currentTab===idxTab, invisible: currentTab!==idxTab}"
>
    <ng-template [appTabRef]="tab.component" [idxTab]="idxTab"></ng-template>
</div>





  
